@import 'include';

.filterable-column {
    cursor: pointer;

    .show-filters-icon {
        margin-left: $pad-standard;
    }

    .filters {
        position: absolute;
        z-index: 1;
        background-color: $colour-background;
        padding: $pad-standard;
    }

    .filters--hidden {
        display: none;
    }
}